<div class="d-flex w-100 justify-content-center align-items-center">
  <div class="card mt-5" style="width: 50rem;">
    <div class="card-body text-center d-flex flex-column align-items-center justify-content-center">
      <h5 class="card-title">Contact Importer</h5>
      <p class="card-text w-75">Welcome to contact importer, here you will be able to create/update new contacts by uploading a CSV file.</p>
      <p class="card-text">Please Sign In or Sign Up to continue.</p>
      <div class="links">
        <a href="#" class="btn btn-primary">Sign In*</a>
        <a href="#" class="btn btn-primary">Sign Up*</a>
      </div>
    </div>
  </div>
</div>
